<div class="container">
  <div class="content">
  <h1>Você sabia que o barato pode sair caro?</h1>
  <p>
    A expressão "o barato pode sair caro" é frequentemente utilizada para
    alertar sobre os riscos de optar por soluções mais econômicas que, a longo
    prazo, podem resultar em custos adicionais ou problemas inesperados. No
    contexto da alimentação, essa ideia é particularmente relevante. Optar por
    alimentos mais baratos pode parecer uma escolha econômica à primeira vista,
    mas pode levar a consequências indesejadas para o bolso.
  </p>
  <li>
    Fator de correção do frango Neste trabalho falamos sobre o fator de correção
    do frango, que é um conceito utilizado na culinária e na nutrição para
    ajustar a quantidade de um alimento cru para a quantidade que será
    efetivamente consumida após o preparo. No caso do frango com osso, o fator
    de correção de 1,5 significa que, para obter 1 kg de frango pronto para
    consumo, é necessário começar com 1,5 kg de frango cru. Isso ocorre porque
    partes do frango, como ossos e pele, são removidas durante o preparo.
  </li>
  <li>
    Qual frango devo comprar? Um frango com osso por R$10,00 ou um sem osso por
    R$14,00? Basta multiplicarmos o frango com osso por 1,5. Sendo assim: 1,5 X
    10‎ = 15 Entendemos que, neste caso, compensa comprar o frango sem osso!
  </li>
  <li>A importância da faca correta na hora de cortar os alimentos:</li>
  <h2>
    Economizar nos ingredientes é uma prática importante na cozinha, e o uso da
    faca correta pode contribuir significativamente para isso. Aqui estão
    algumas maneiras de como isso acontece:
  </h2>
  <ol>
    <strong>Redução de Desperdício:</strong>
    Facas adequadas permitem cortes mais precisos, o que significa que menos
    partes dos ingredientes são descartadas. Isso é especialmente importante
    para ingredientes caros ou aqueles que têm partes comestíveis próximas a
    partes não comestíveis.
  </ol>
  <ol>
    <strong>Aproveitamento Máximo:</strong> Com a faca certa, é possível aproveitar melhor cada
    ingrediente, cortando de forma a utilizar o máximo possível da parte
    comestível. Isso é útil para verduras, frutas e carnes.
  </ol>
  <ol>
    <strong>Cortes Uniformes:</strong> Cortes uniformes garantem que os ingredientes cozinhem de
    maneira uniforme, evitando que partes fiquem cruas ou queimadas, o que
    poderia levar ao desperdício.
  </ol>
  <ol>
    <strong>Preservação de Nutrientes:</strong> Cortes adequados ajudam a preservar os nutrientes
    dos ingredientes, já que minimizam o dano às células vegetais, por exemplo,
    mantendo o valor nutricional dos alimentos.
  </ol>
  <ol>
    <strong>Melhor Planejamento:</strong> Ao cortar ingredientes de forma eficiente, é mais fácil
    planejar e controlar as porções, evitando cozinhar mais do que o necessário
    e, assim, economizando nos ingredientes.
  </ol>
  <h3>Portanto, o uso da faca correta não só melhora a qualidade do preparo dos alimentos, mas também contribui para uma cozinha mais econômica e sustentável.</h3>
</div>
<div class="menu" (click)="menu()">
  <i class="fa-solid fa-house"></i>
</div>
</div>
