<div class="container">
  <header>
    <div class="logo"> <img src="/abacaxi.png" alt=""> <h1>FOOD</h1></div>
  </header>
  <div class="card_container">
    <ul>
      <li class="card" (click)="sobre()">
        <div class="title">
          <h1>Sobre nós</h1>
        </div>
        <div class="icon">
          <img src="/abacaxi.png" alt="">
        </div>
      </li>
      <li class="card active">
        <div class="title">
          <h1>Você sabia?</h1>
        </div>
        <div class="icon">
          <img src="/abacaxi.png" alt="">
        </div>
      </li>
      <li class="card" (click)="feedback()">
        <div class="title">
          <h1>Deixe seu feedback</h1>
        </div>
        <div class="icon">
          <img src="/abacaxi.png" alt="">
        </div>
      </li>
    </ul>
  </div>
  <div class="help">
    ?
  </div>
</div>
