<div class="container">
  <div class="content">

    <h1>O seu Feedback<br> é importante para nós!</h1>
    <ul class="emoji_container">
    <li><i class="fa-regular fa-face-dizzy"></i></li>
    <li><i class="fa-regular fa-face-frown"></i></li>
    <li><i class="fa-regular fa-face-meh"></i></li>
    <li><i class="fa-regular fa-face-smile"></i></li>
    <li><i class="fa-regular fa-face-grin-hearts"></i></li>
  </ul>
  <h2>Deixe um comentário e<br> avalie nosso trabalho!</h2>
  <textarea name="comment" id="comment" placeholder="Deixe um comentário..."></textarea>
  <div class="buttons">
    <button>Enviar</button>
    <button class="voltar" (click)="home()">Voltar</button>
  </div>
  </div>
</div>
