<div class="container">
  <div class="content">
    <h1>Sobre nós</h1>
    <p>
      Somos estudantes do 1º Nutrição da Escola ETEC Presidente Vargas e nosso
      projeto técnico visa explorar como as escolhas na hora de fazer as compras
      podem ajudar a economizar seu dinheiro e tempo. Nosso trabalho abrange a
      análise de alimentos populares, que muitas vezes compramos por ser mais
      barato, porém acabamos tendo prejuízo em relação ao seu rendimento, em
      comparação com um alimento que pagamos mais, porém possui maior aproveito.
      Esperamos que você encontre informações relevantes e aprenda a forma
      correta de economizar em suas compras. Agradecemos por visitar nosso site!
    </p>
    <div class="integrantes">
      <h1>Trabalho feito por:</h1>
      <ul>
        <li>Luiza Gomes</li>
        <li>Marcela Peinado</li>
        <li>Mariana Odashima</li>
        <li>Monalisa Alves</li>
        <li>Rafaela Castillo</li>
        <li>Rauan Caldas</li>
      </ul>
    </div>
  </div>
  <div class="menu" (click)="menu()">
    <i class="fa-solid fa-house"></i>
  </div>
</div>
